@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@300;500;700&family=Titillium+Web&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', 'MedievalSharp', 'Titillium Web';
}

:root {
    --font-title: 64px;
    --font-info: 20px;
    --font-sub-title: 24px;
    --font-roboto: 'Roboto';
    --color-font-secondary: #FBC321;
    --font-mediaval: 'MedievalSharp';
    --font-titillium: "Titillium Web";
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

h1,
h2,
p {
    margin: 0px;
}

/*Header*/
header {
    width: 100%;
    position: relative;
    z-index: 3;
    top: 20px;
}

.menu_open {
    display: none;
}

.close {
    display: none;
}

.menu_mobile {
    display: none;
}


.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;

        .area_menu_total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            width: 100%;
            border-radius: 10px;
            background: rgba(3, 7, 18, 0.80);
            padding: 20px 40px 20px 40px;

            .area_menu {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 60px;
                width: 100%;

                a {
                    display: flex;
                }
            }


            .area_btns_header {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                width: 100%;
                max-width: 560px;
                position: relative;

                a {
                    width: 100%;
                    max-width: 250px;

                    .bg_btn_1 {
                        position: absolute;
                        max-width: max-content;
                        width: 100%;
                        height: auto;
                        z-index: 1;
                        left: -6px;
                    }

                    .bg_btn_2 {
                        position: absolute;
                        max-width: max-content;
                        width: 100%;
                        height: auto;
                        z-index: 1;
                        right: 4px;
                    }
                }

                .btn_header_1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(251 195 33 / 35%);
                    padding: 0px 20px;
                    height: 58px;
                    box-shadow: 0px -0.5px 1px 0px rgba(0, 0, 0, 0.30) inset;
                    filter: drop-shadow(0px 0px 6px #000);

                    h2 {
                        color: var(--color-font-secondary);
                        font-family: var(--font-roboto);
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                }

                .btn_header_2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(164, 179, 47, 0.30);
                    padding: 0px 20px;
                    height: 58px;
                    box-shadow: 0px -0.5px 1px 0px rgba(0, 0, 0, 0.30) inset;
                    filter: drop-shadow(0px 0px 6px #000);

                    h2 {
                        color: #A4B32F;
                        font-family: var(--font-roboto);
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                }

            }

        }



    }
}

nav {
    width: 100%;
    max-width: max-content;

    ul {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        max-width: max-content;

        li {
            list-style: none;

            a {
                color: #FFFFFF;
                font-family: var(--font-roboto);
                font-weight: 400;
                font-size: 16px;
                text-transform: uppercase;
                transition: all ease 200ms;
            }

            a:hover {
                color: var(--color-font-secondary);
            }

        }
    }
}


/*Container 1*/

#container_home_brabos {
    background-image: url(../img/brabos_club_bg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin-top: -102px;
    padding-top: 20px;

    .container_home_brabos {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .container_home_brabos_int {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1200px;
            width: 100%;

            .area_home_brabos {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 160px;
                width: 100%;

                .area_boxs_brabos {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    max-width: 320px;
                    width: 100%;

                    .boxs_brabos {
                        border-radius: 10px;
                        background: rgba(3, 7, 18, 0.80);
                        padding: 25px;

                        .boxs_brabos_int {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            svg {
                                cursor: pointer;
                            }

                            .area_texts_brabos {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                img {
                                    max-width: max-content;
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            .info_primeval p {
                                color: #FFFFFF;
                                font-family: var(--font-roboto);
                                font-size: var(--font-info);
                                font-weight: 700;
                                line-height: normal;

                                b {
                                    color: var(--color-font-secondary);
                                }

                                u {
                                    color: var(--color-font-secondary);
                                    text-decoration: none;
                                    font-weight: 300;
                                    font-size: 16px;
                                }
                            }


                        }
                    }
                }

                .area_brabos_clud_jogar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    max-width: 560px;
                    width: 100%;

                    .area_btns_brabos_club_jogar {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                        width: 100%;
                        position: relative;

                        a {
                            width: 100%;
                            max-width: 260px;

                            .bg_btn_1 {
                                position: absolute;
                                max-width: max-content;
                                width: 100%;
                                height: auto;
                                z-index: 1;
                                left: -6px;
                            }

                            .bg_btn_2 {
                                position: absolute;
                                max-width: max-content;
                                width: 100%;
                                height: auto;
                                z-index: 1;
                                right: 4px;
                            }
                        }

                        .btns_brabos_club_jogar {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            background-color: rgba(3, 7, 18, 0.90);
                            padding: 0px 20px;
                            height: 65px;
                            box-shadow: 0px -0.5px 1px 0px rgba(0, 0, 0, 0.30) inset;
                            filter: drop-shadow(0px 0px 6px #000);


                            h2 {
                                color: var(--color-font-secondary);
                                font-family: var(--font-roboto);
                                font-size: 16px;
                                font-weight: 700;
                            }

                            img {
                                max-width: max-content;
                                width: 100%;

                            }

                        }


                        .btns_brabos_club_jogar.trailer {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            background-color: rgba(3, 7, 18, 0.90);
                            padding: 0px 20px;
                            height: 65px;
                            box-shadow: 0px -0.5px 1px 0px rgba(0, 0, 0, 0.30) inset;
                            filter: drop-shadow(0px 0px 6px #000);


                            h2 {
                                color: #FFFFFF;
                                font-family: var(--font-roboto);
                                font-size: 16px;
                                font-weight: 700;
                            }

                            img {
                                max-width: max-content;
                                width: 100%;
                                height: auto;
                            }
                        }

                    }

                    img {
                        max-width: max-content;
                        width: 100%;
                        height: auto;
                    }
                }



            }
        }
    }
}


#container_personagens {
    background-image: url(../img/personagens_bg.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .bg_shadow {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container_personagens {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 60px 0px 60px 0px;

        .container_personagens_int {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1280px;

            .area_personagens {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 80px;
                width: 100%;

                .area_texts_personagens {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    width: 100%;
                    max-width: 990px;
                    text-align: center;

                    .title_personagens h2 {
                        color: #F9FAFB;
                        font-family: var(--font-mediaval);
                        font-size: var(--font-title);
                        text-align: center;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    .sub_title_personagens p {
                        color: #A9A9A9;
                        text-align: center;
                        font-family: var(--font-titillium);
                        font-size: var(--font-sub-title);
                        font-weight: 400;
                    }
                }

                .area_card_personagens {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    flex-wrap: wrap;
                    align-items: center;

                    .personagens {
                        max-width: max-content;
                        width: 100%;
                    }

                    .card_personagens {
                        border-radius: 20px;
                        background: rgba(3, 7, 18, 0.95);
                        max-width: max-content;
                        width: 100%;

                        .card_personagens_int {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 40px;
                            padding: 40px 40px 40px 40px;

                            .area_opcoes_personagens {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 40px;
                                border-bottom: 1px solid #2B2F34;
                                padding-bottom: 20px;
                                width: 100%;

                                img {
                                    max-width: max-content;
                                    width: 100%;
                                    height: auto;
                                    filter: grayscale(1);
                                    transition: all ease 200ms;
                                    cursor: pointer;
                                }

                                img:hover {
                                    filter: grayscale(0);
                                }

                                .active_personagem {
                                    filter: grayscale(0);
                                }
                            }

                            .area_texts_card_personagens::-webkit-scrollbar {
                                background: rgba(3, 7, 18, 0.8) !important;
                            }

                            .area_texts_card_personagens::-webkit-scrollbar-thumb {
                                background: rgba(255, 255, 255, 0.11) !important;
                                border-radius: 20px;
                            }

                            .area_texts_card_personagens {
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                gap: 30px;
                                overflow-y: auto;
                                height: 800px;
                                width: 100%;
                                max-width: 600px;
                                padding-right: 25px;

                                .title_card_personagem h2 {
                                    color: #FBC321;
                                    font-family: var(--font-roboto);
                                    font-size: var(--font-sub-title);
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                img {
                                    max-width: max-content;
                                    width: 100%;
                                    height: auto;
                                }

                                .info_caracteristicas {
                                    padding: 20px 30px;
                                    border-radius: 20px;
                                    background: rgba(255, 255, 255, 0.05);

                                    .info_caracteristicas_int {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
                                        text-align: left;

                                        .title_info_caracteristicas h2 {
                                            color: #9CA3AF;
                                            font-family: var(--font-roboto);
                                            font-size: var(--font-sub-title);
                                            font-weight: 700;
                                            text-transform: uppercase;
                                        }

                                        .sub_title_info_caracteristicas p {
                                            color: #9CA3AF;
                                            font-family: var(--font-titillium);
                                            font-size: 20px;
                                            font-weight: 400;
                                        }
                                    }
                                }

                                .title_info_tipo h2 {
                                    color: #9CA3AF;
                                    font-family: var(--font-roboto);
                                    font-size: 32px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                .info_tipo p {
                                    color: #9CA3AF;
                                    font-family: var(--font-titillium);
                                    font-size: 20px;
                                    font-weight: 400;

                                    b {
                                        color: #FBC321;
                                        font-size: 20px;
                                        font-weight: 700;
                                    }
                                }

                            }


                        }

                    }
                }



            }
        }
    }

}



#container_mundos {
    background-image: url(../img/mundos_bg.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .bg_shadow {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container_mundos {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 60px 0px 60px 0px;

        .container_mundos_int {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1280px;

            .area_mundos {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 80px;
                width: 100%;

                .title_mundos h2 {
                    color: #F9FAFB;
                    font-family: var(--font-mediaval);
                    font-size: var(--font-title);
                    text-align: center;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .area_card_mundos {
                    border-radius: 20px;
                    background: rgba(3, 7, 18, 0.95);
                    max-width: max-content;
                    padding: 40px;

                    .area_card_mundos_int {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 60px;
                        width: 100%;

                        .area_opcoes_mundos {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            width: 100%;

                            img {
                                max-width: 740px;
                                width: 100%;
                                height: auto;
                                border: 2px solid #FBC321;
                                border-radius: 20px;
                            }

                            .area_opcoes_mundos_int {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                gap: 40px;

                                img {
                                    max-width: 162px;
                                    width: 100%;
                                    height: auto;
                                    cursor: pointer;
                                    border: none;
                                }
                            }

                        }


                        .area_texts_mundos {
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            align-items: flex-start;
                            max-width: max-content;
                            width: 100%;

                            .title_mundos_card h2 {
                                color: #9CA3AF;
                                font-family: var(--font-roboto);
                                font-size: 30px;
                                font-weight: 700;
                                text-transform: uppercase;
                            }

                            .sub_title_mundos_card p {
                                color: #9CA3AF;
                                font-family: var(--font-titillium);
                                font-size: 22px;
                                font-weight: 400;

                                u {
                                    color: #FBC321;
                                }

                                a {
                                    color: #FBC321;
                                }
                            }
                        }

                    }
                }

            }
        }
    }


}


#container_olimpiadas {
    background-image: url(../img/olimpiadas_bg.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .bg_shadow {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container_olimpiadas {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 60px 0px 60px 0px;
        height: 100%;

        .container_olimpiadas_int {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1320px;
            width: 100%;

            .area_olimpiadas {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 80px;
                width: 100%;

                .title_olimpiadas h2 {
                    color: #F9FAFB;
                    font-family: var(--font-mediaval);
                    font-size: var(--font-title);
                    text-align: center;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .area_cards_olimpiadas {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .card_olimpiadas {
                        border-radius: 20px;
                        background: rgba(3, 7, 18, 0.80);
                        max-width: 640px;
                        width: 100%;
                        height: 560px;
                        position: relative;

                        .card_olimpiadas_int {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 40px;

                            .olimpiadas_img {
                                max-width: max-content;
                                width: 100%;
                            }

                            .icone_olimpiadas {
                                position: absolute;
                                max-width: 240px;
                                width: 100%;
                                left: -140px;
                                top: 10px;
                            }

                            .icone_guerras {
                                position: absolute;
                                max-width: 240px;
                                width: 100%;
                                right: -40px;
                                top: 10px;
                            }

                            .area_texts_card_olimpiadas {
                                display: flex;
                                align-items: center;
                                text-align: center;
                                flex-direction: column;
                                gap: 20px;
                                padding: 0px 40px 40px 40px;

                                .title_card_olimpiadas h2 {
                                    color: #9CA3AF;
                                    font-family: var(--font-roboto);
                                    font-size: 32px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                .sub_title_card_olimpiadas p {
                                    color: #9CA3AF;
                                    font-family: var(--font-titillium);
                                    font-size: 20px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                }

            }
        }
    }


}


#container_jogar {
    background-image: url(../img/jogar_bg.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .bg_shadow {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container_jogar {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 60px 0px 60px 0px;

        .container_jogar_int {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1320px;
            width: 100%;

            .area_jogar {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 80px;
                width: 100%;

                .title_jogar h2 {
                    color: #F9FAFB;
                    font-family: var(--font-mediaval);
                    font-size: var(--font-title);
                    text-align: center;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .area_card_dwarfs_jogar_total {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .card_dwarfs_jogar {
                        border-radius: 20px;
                        background: rgba(3, 7, 18, 0.80);
                        max-width: 640px;
                        width: 100%;

                        .card_dwarfs_jogar_int {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 40px;

                            .dwarfs_card_jogar {
                                max-width: max-content;
                                width: 100%;
                                margin-top: -60px;
                            }

                            .area_texts_card_dwarfs_jogar {
                                display: flex;
                                align-items: center;
                                text-align: center;
                                flex-direction: column;
                                gap: 20px;
                                padding: 0px 40px 40px 40px;

                                .title_card_dwarfs_jogar h2 {
                                    color: #9CA3AF;
                                    font-family: var(--font-roboto);
                                    font-size: 32px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                .sub_title_card_dwarfs_jogar p {
                                    color: #9CA3AF;
                                    font-family: var(--font-titillium);
                                    font-size: 20px;
                                    font-weight: 400;
                                }

                            }
                        }
                    }

                    .area_texts_brabos_academy {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;
                        max-width: 600px;

                        .title_brabos_academy h2 {
                            color: #9CA3AF;
                            font-family: var(--font-roboto);
                            font-size: 36px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }

                        .sub_title_brabos_academy p {
                            color: #9CA3AF;
                            font-family: var(--font-titillium);
                            font-size: var(--font-sub-title);
                            font-weight: 400;

                            a {
                                color: #FBC321;
                                text-decoration: underline;
                            }

                            b {
                                font-weight: bold;
                                color: #FBC321;
                            }
                        }


                    }
                }


            }

        }
    }
}









@media(max-width: 1024px) {

    :root {
        --font-title: 48px;
        --font-info: 20px;
        --font-sub-title: 22px;
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 20px 20px 20px 20px;
    }

    @keyframes move {
        0% {
            right: -100%;

        }

        100% {
            right: 0px;
        }

    }

    .menu_open {
        display: flex;
    }

    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #container_menu {
        display: none;
        width: 100%;
        height: 100vh;
        opacity: 1;
        background: #fbc421c0;
        position: fixed;
        top: 0px;
        z-index: 99;
        transition: all ease 400ms;
    }

    .container_menu {
        .container_menu_int {
            .area_menu_total {
                flex-direction: column;
                background: rgba(3, 7, 18, .8);

                .area_btns_header {
                    flex-direction: column;

                    .btn_header_1 h2 {
                        font-size: 18px;
                    }

                    .btn_header_2 h2 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .area_menu {
        flex-direction: column;
        width: 100%;
    }

    .area_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }

    .area_close_int {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1220px;
    }

    .close {
        cursor: pointer;
        max-width: max-content;
        width: 100%;
    }

    .area_menu nav {
        width: 100%;
    }

    .area_menu nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo_desktop {
        display: none;
    }

    .area_menu nav ul a {
        font-size: 26px;
        color: #ffffff;
    }

    #container_home_brabos {
        .container_home_brabos {
            .container_home_brabos_int {
                .area_home_brabos {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 80px;

                    .area_brabos_clud_jogar {
                        max-width: max-content;

                        .area_btns_brabos_club_jogar {
                            flex-direction: column;
                            max-width: 265px;

                            .btns_brabos_club_jogar {
                                height: 60px;
                            }

                            a {
                                max-width: 255px;
                            }

                            a .bg_btn_1 {
                                left: 0px;
                            }

                            a .bg_btn_2 {
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }




    #container_personagens {
        .container_personagens {
            .container_personagens_int {
                .area_personagens {
                    gap: 60px;
                    padding: 0px 20px;

                    .area_card_personagens {
                        flex-direction: column;
                        gap: 40px;

                        .card_personagens {
                            .card_personagens_int {
                                .area_opcoes_personagens {
                                    flex-wrap: wrap;
                                }
                            }
                        }

                    }
                }
            }
        }
    }


    #container_mundos {
        .container_mundos {
            .container_mundos_int {
                .area_mundos {
                    gap: 60px;
                    padding: 0px 20px;

                    .area_card_mundos {
                        .area_card_mundos_int {
                            flex-direction: column;
                            align-items: center;
                            gap: 40px;

                            .area_opcoes_mundos {
                                align-items: center;

                                .area_opcoes_mundos_int {
                                    flex-wrap: wrap;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    #container_olimpiadas {
        .container_olimpiadas {
            .container_olimpiadas_int {
                .area_olimpiadas {
                    gap: 60px;
                    padding: 0px 20px;

                    .area_cards_olimpiadas {
                        flex-direction: column;
                        gap: 40px;

                        .card_olimpiadas {
                            height: auto;

                            .card_olimpiadas_int {
                                .icone_olimpiadas {
                                    max-width: 200px;
                                    left: -40px;
                                }

                                .icone_guerras {
                                    max-width: 200px;
                                    right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #container_jogar {
        .container_jogar {
            .container_jogar_int {
                .area_jogar {
                    padding: 0px 20px;

                    .area_card_dwarfs_jogar_total {
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }
        }
    }

}


@media(max-width: 480px) {

    :root {
        --font-title: 36px;
        --font-info: 20px;
        --font-sub-title: 20px;
    }


    #container_home_brabos {
        .container_home_brabos {
            .container_home_brabos_int {
                .area_home_brabos {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 60px;
                    padding: 60px 20px 0px 20px;
                }
            }
        }
    }


    #container_personagens {
        .container_personagens {
            .container_personagens_int {
                .area_personagens {
                    gap: 40px;
                }
            }
        }
    }

    #container_mundos {
        .container_mundos {
            .container_mundos_int {
                .area_mundos {
                    gap: 40px;
                }
            }
        }
    }


    #container_olimpiadas {
        .container_olimpiadas {
            .container_olimpiadas_int {
                .area_olimpiadas {
                    gap: 40px;

                    .area_cards_olimpiadas {
                        .card_olimpiadas {
                            .card_olimpiadas_int {
                                .icone_olimpiadas {
                                    max-width: 120px;
                                    left: 0px;
                                }

                                .icone_guerras {
                                    max-width: 120px;
                                    right: 0px;
                                }

                                .area_texts_card_olimpiadas {
                                    .title_card_olimpiadas h2 {
                                        font-size: 26px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    #container_jogar {
        .container_jogar {
            .container_jogar_int {
                .area_jogar {
                    .area_card_dwarfs_jogar_total {
                        .card_dwarfs_jogar {
                            .card_dwarfs_jogar_int {
                                .area_texts_card_dwarfs_jogar {
                                    .title_card_dwarfs_jogar h2 {
                                        font-size: 26px;
                                    }
                                }
                            }
                        }

                        .area_texts_brabos_academy {
                            .title_brabos_academy h2 {
                                font-size: 28px;
                            }
                        }

                    }
                }
            }
        }
    }
   


}